root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{kt,kts}]
max_line_length = 140
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_imports_layout = *,java.**,javax.**,kotlin.**,^
ktlint_code_style = ktlint_official
ktlint_function_naming_ignore_when_annotated_with = Composable
ktlint_standard_filename = disabled
ktlint_standard_function-naming = disabled
ktlint_standard_property-naming = disabled

[feature/search/src/commonMain/kotlin/ru/raydroid/feature/search/RaydroidBootstrap.kt]
ktlint_standard_function-naming = disabled

[plugin/api/src/commonMain/kotlin/ru/raydroid/plugin/api/model/UiText.kt]
ktlint_standard_function-naming = disabled

[plugin/api/src/commonMain/kotlin/ru/raydroid/plugin/api/ui/*.kt]
ktlint_standard_function-naming = disabled

[plugin/api/src/commonMain/kotlin/ru/raydroid/plugin/api/ui/components/*.kt]
ktlint_standard_function-naming = disabled

[**/build/**/*.kt]
ktlint = disabled
