*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/
!*.xcworkspace/xcshareddata/swiftpm/
!*.xcworkspace/xcshareddata/swiftpm/Package.resolved
**/xcshareddata/WorkspaceSettings.xcsettings
**/xcshareddata/swiftpm/configuration
node_modules/
zipline-api.toml
**/zipline-api.toml
