<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIUserInterfaceStyle</key>
	<string>Automatic</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSContactsUsageDescription</key>
	<string>Raydroid uses your contacts to search, open, call, and message people.</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>App-prefs</string>
		<string>maps</string>
		<string>sms</string>
	</array>
</dict>
</plist>
